
body{
	background-image: url("/Content/Img/background.jpg");
	background-repeat: repeat;
	
	font-family: "Arial Light" !important;
	font-size: 15px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    font-weight: normal;
}

hr{
	border-style:solid;
	border-color:#AAA;
}

#wrapper {
    margin: 15px auto;
	padding-top:15px;
	padding-bottom:15px;
    max-width: 1200px;
    box-shadow: 8px 8px #999;
	background-color:rgba(255,255,255, 0.8); /* Light grey, 50% transparent */
}
#header>.row {
    height: 100%;
}

/* Home */

#logoContainer {
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

#logoContainer img {
    max-height: 100px;
	max-width: 100%;
}
#header-bulletPoints {
    font-size: 1.25em;
}
#header-contact table{
    float:right;
}
.contact-table td:nth-child(2){
    text-align:right;
}
#content {
    border-color: green;
    min-height: 300px;
    text-align:left;
}

.clearer{
	clear: both; /* see http://stackoverflow.com/questions/19354845/div-has-no-height-even-if-it-has-content */
}

#canvas{
    display:inline-block;
}

/*End of Home*/

/*Start of Contact*/

.contact-block-50{
    text-align:left;
    display:inline-block;
    float:left;
    width: 49%;
}