@{
    ViewBag.Title = "Normführungselemente";
}

<h1>@ViewBag.Title</h1>

<table class="katalog-table">
    <tbody>
        <tr>            
            <td>
                <p align="center">
                    
                        N 412 - N 414<br>
                        
                    <img src="~/Content/Katalog/datKap3/N412-N414.jpg" width="80" height="84" border="0"><br>
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    
                        Kugelführung MINI / guidage à billes
                        serie MINI
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N412.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N982<br>
                        
                    <img src="~/Content/Katalog/datKap3/N982.jpg" width="80" height="76" border="0"><br>
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    
                        Führungssäule zylindrisch / colonne
                        cylindrique
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N982.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 800 - N 801<br>
                        <img src="~/Content/Katalog/datKap3/N800-N801.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">Halteflansch / flange </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N800.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 417<br>
                        
                    <img src="~/Content/Katalog/datKap3/N417.jpg" width="80" height="83" border="0"><br>
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    
                        Mittenbundsäule / colonne avec col au
                        millieu Typ EUROPA
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N417.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 415<br>
                        <img src="~/Content/Katalog/datKap3/N415.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    
                        Mittenbundsäule / colonne avec col au
                        millieu
                    
                        <b>
                            Auslaufender Artikel
                            !!
                        </b>
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N415.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 430<br>
                        <img src="~/Content/Katalog/datKap3/N430.jpg" width="80" height="86" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    
                        Bundsäule / colonne avec col
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N430.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 440<br>
                        <img src="~/Content/Katalog/datKap3/N440.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    
                        Konische Säule / colonne
                        conique
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N440.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 412 - N 416<br>
                        <img src="~/Content/Katalog/datKap3/N412-N416.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    
                        Führungseinheit AV / élement de
                        guidage AV
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N412.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N411<br>
                        <img src="~/Content/Katalog/datKap3/N411.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>Kugelkäfig Bronze / cage à billes bronze </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N411.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 413<br>
                        <img src="~/Content/Katalog/datKap3/N413.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Kugelkäfig mit Sicherungsring / cage à billes sys. de
                        rétention
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N413.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 511<br>
                        <img src="~/Content/Katalog/datKap3/N511.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoBodyText">
                    
                        Kugelkäfig mit Schraube / cage à
                        billes avec vis de rétention
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N511.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 911<br>
                        <img src="~/Content/Katalog/datKap3/N911.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoNormal">
                    Rollenkäfig / cage à rouleaux
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N911.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 410<br>
                        <img src="~/Content/Katalog/datKap3/N410.jpg" width="82" height="89" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoBodyText">
                    
                        Kugelführung zylindrisch / guidage
                        à billes cylindrique
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N410.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 062 - N 066<br>
                        <img src="~/Content/Katalog/datKap3/N062-N066.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Kugelführung mit Bund / guidage à billes avec
                        col
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N062.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 418 - N 419<br>
                        <img src="~/Content/Katalog/datKap3/N418-N419.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Kugelführung mit Bund / guidage à billes avec
                        col
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N418.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 316 - N 319<br>
                        <img src="~/Content/Katalog/datKap3/N316-N319.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Kugelführung mit Flansch / guidage à billes avec
                        flange
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N318.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 081 - N 085<br>
                        <img src="~/Content/Katalog/datKap3/N081-N085.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Bundbüchse bronzeplattiert / douille avec col
                        bronze
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N081.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 420 - N 422<br>
                        <img src="~/Content/Katalog/datKap3/N420-N422.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Bundbüchse bronzet / douille avec col bronze
                    
                        <b>
                            Auslaufender Artikel
                            !!
                        </b>
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N420.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 9047<br>
                        <img src="~/Content/Katalog/datKap3/N9047.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Gleitbüchse bronze / douille avec guidage
                        bronze
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N9047.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 9137<br>
                        <img src="~/Content/Katalog/datKap3/N9137.jpg" width="80" height="86" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Gleitbüchse bronze / douille avec guidage
                        bronze
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N9137.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 320 - N 323<br>
                        <img src="~/Content/Katalog/datKap3/N320-N323.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    
                        Gleitbüchse mit Flansch, bronze / guidage avec
                        flange,bronze
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N320.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 091 - N 095<br>
                        <img src="~/Content/Katalog/datKap3/N091-N095.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoBodyText">
                    
                        Bundbüchse / douille avec col,
                        INTERCOAT
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N091.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 426 - N 428<br>
                        <img src="~/Content/Katalog/datKap3/N426-N428.jpg" width="80" height="84" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoBodyText">
                    
                        Bundbüchse / douille avec col,
                        INTERCOAT
                    
                        <b>
                            Auslaufender Artikel
                            !!
                        </b>
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N426.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 324 - N 327<br>
                        <img src="~/Content/Katalog/datKap3/N324-N327.jpg" width="80" height="82" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoBodyText">
                    
                        Flanschbüchse / douille avec
                        flange, INTERCOAT
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N326.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        N 423 - N 425<br>
                        <img src="~/Content/Katalog/datKap3/N423-N425.jpg" width="80" height="85" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p class="MsoBodyText">
                    
                        Bundbüchse nitriert / douille avec
                        col nitrifiée
                    
                </p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/N423.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
        <tr>
            
            <td>
                <p align="center">
                    
                        BMS und GBMS<br>
                        
                    
                        <img src="~/Content/Katalog/datKap3/BMS_GBMS.jpg" width="80" height="172" border="0"><br>
                        
                    
                </p>
            </td>
            <td>
                <p>
                    Stahlbüchse / Douille en acier Gussbüchse 
                </p><p>Gussbüchse / Douille en fonte</p>
            </td>
            
            <td><a href="~/Content/Katalog/datKap3/BMS_GBMS.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png"></a></td>
        </tr>
    </tbody>
</table>