
@{
    ViewBag.Title = "Preislisten Normführungselemente";
}

<h1>Preislisten Normführungselemente</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
            <img src="~/Content/Katalog/datKap3/deckblatt.jpg" alt="" style="width:100%;"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <table class="katalog-table">
                <tr>
                    <td>Typ N982</td>
                    <td><a href="~/Content/Katalog/datKap6/N982.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N409 / N411 / N413</td>
                    <td><a href="~/Content/Katalog/datKap6/N409_N411_N413.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N440 / N441</td>
                    <td><a href="~/Content/Katalog/datKap6/N440_N441.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N417 / N430</td>
                    <td><a href="~/Content/Katalog/datKap6/N417_N430.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N 316 / N418 / N419</td>
                    <td><a href="~/Content/Katalog/datKap6/N316_N418_N419.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N062 / N066</td>
                    <td><a href="~/Content/Katalog/datKap6/N062_N066.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N911 / N9047 / N9137</td>
                    <td><a href="~/Content/Katalog/datKap6/N911_N9047_N9137.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N320 / N324 / N081</td>
                    <td><a href="~/Content/Katalog/datKap6/N320_N324_N081.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N511 / BMS / GBMS</td>
                    <td><a href="~/Content/Katalog/datKap6/N511_BMS_GBMS.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>
                <tr>
                    <td>Typ N423 / N091</td>
                    <td><a href="~/Content/Katalog/datKap6/N423_N091.pdf" target="_blank"><img src="~/Content/Img/pdf_icon_x32.png" border="0"></a></td>
                </tr>

            </table>
        </div>
    </div>
</div>

