
@{
    ViewBag.Title = "Geschichte";
}

<h2>Geschichte</h2>

<p>
    Die Firma wurde 1948 durch die Herren Styner &amp; Bienz gegründet. Zweck war die Herstellung von 
    Führungselementen und Säulengestellen aus Gusseisen für den Stanzwerkzeugbau.
    <br />
    Zwischenzeitlich wurde auch Maschinenbau (Blocköffner &amp; Werkzeugschleifmaschinen) betrieben.
</p>
<p>
    Heute besteht die Haupttätigkeit im Bereich der spanenden Formgebung, insbesondere Werkzeugbau, 
    Formenbau und Teilefertigung für die Maschinenindustrie. Im weiteren ist eine breite Palette an 
    Normsäulengestellen und Führungselementen im Angebot.
</p>
<p>
    Aktuell beschäftigt die Firma 6 Personen, sowohl in Voll-, wie auch in Teilzeitanstellung. 
    Die Tätigkeiten erstrecken sich über ein sehr breites Feld, vom Handel mit Führungselementen, 
    über die Fertigung von Werkzeugkomponenten, bis hin zur Montage von Baugruppen.
    <br />
    Unsere Mitarbeiter sind ausschliesslich ausgebildete Fachkräfte, welche ein sehr hohes Mass an 
    Know-How aufweisen, um einwandfreie Produkte zu garantieren.
</p>

